.animated-text {
    -webkit-text-fill-color: #0000;
    animation: gradient-animation 4s infinite, mainLabel 1s ease alternate;
    background: linear-gradient(90deg, #9B59B6, #8E44AD, #A569BD, #9B59B6);
    -webkit-background-clip: text;
    background-size: 300%;
    font-weight: 700;
}

@keyframes gradient-animation {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
}

.exufy-ani {
    animation: exufy 2s cubic-bezier(.9,.02,.27,.99) forwards;
    position: absolute;
    right: -100%;  /* Dışarıdan başlasın */
    opacity: 0;
    clip-path: inset(0 100% 0 0);  /* Tamamen gizli başlar */
}

@keyframes exufy {
    0% {
        opacity: 0;
        transform: translateX(-100%); /* Ekranın dışında başlasın */
        clip-path: inset(0 100% 0 0);  /* Tamamen gizli */
    }

    

    55%{
        opacity: 0;
        clip-path: inset(0 0 0 0);  /* Tamamen gizli */

    }

   

    100% {
        opacity: 1;
        transform: translateX(0); /* Normal pozisyonuna gelsin */
        clip-path: inset(0 0 0 0);  /* Tamamen görünür */
    }
}

.n-letter {
    animation: nMove 2s cubic-bezier(.9,.02,.27,.99) forwards;
    position: relative;
}

@keyframes nMove {
    0%{
        transform: translateX(0); /* Sabit pozisyonda */
    }

    100%{
        transform: translateX(-118px); /* Biraz sola kayarak ortalansın */
    }
}
