@font-face {
    font-family: "Logo";
    font-weight: 500;
    src: url("/fonts/JosefinSans-VariableFont_wght.ttf") format("TrueType");
    font-display: swap;
}

@font-face{
    font-family: "Red Hat";
    font-weight: 500;
    src: url("/fonts/RedHat.woff2") format("woff2");
}

@font-face{
    font-family: "Red Hat Bold";
    font-weight: 500;
    src: url("/fonts/RedHatBold.woff2") format("woff2");
}

@font-face{
    font-family: "Open Sans Regular";
    font-weight: 500;
    src: url("/fonts/OpenSansRegular.woff2") format("woff2");
}

@font-face{
    font-family: "Open Sans Bold";
    font-weight: 600;
    src: url("/fonts/OpenSansBold.woff2") format("woff2");
}

.logo-font{
    font-family: "Logo";
}

.title-font{
    font-family: "Red Hat";
}

.title-font-bold{
    font-family: "Red Hat Bold";
}

.text-font{
    font-family: "Open Sans Regular";
}

.text-font-bold{
    font-family: "Open Sans Bold";
}

.bg-theme-gray-1{
    background-color: #1e1e1e;
}

.bg-input{
    background-color: #404040;
}

.bg-btn{
    background-color: #9b59b6;
}

.color-theme-pink{
    color: #9b59b6;
}



